.input-form{
    background-color: #212121;
    border: 1px solid #4A4949;
    color:white;
    border-radius: 8px;
    padding: 8px 16px;
    gap:10px;
    font-weight: 400;
    font-size:16px;
    line-height: 120%;
}

.input-form::placeholder{
    color: #4A4949;
}