.label-form{
    font-weight: 400;
    font-size:16px;
    line-height: 120%;
    color:white;
}

.elemento-form{
    display: flex;
    flex-direction: column;
    border:none;
    gap:8px;
    padding: 0px 0px 20px 0px;
    margin:0px;
}