body{
  margin:0;
  padding:0;
}
header{
  background-color: #06151A;
  padding: 32px;
  display: flex;
  justify-content: center;
}
section{
  background-image: linear-gradient(to top, #06151A, #17D9B1 );
  display: flex;
  justify-content: center;
}

section>img{
  max-width:90%;
}
