#btn-form{
    background-color: #17D9B1;
    color: #212121;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    padding: 8px 16px;
    border-radius: 8px;
    border:none;
}

#btn-form:hover{
    cursor: pointer;
    opacity: 0.8;
}

.container-botao-form{
    display:flex;
    justify-content: center;
    margin-top:12px;
}