.form-evento{
  background-color: #212121;
  padding: 32px 28px;
  border-radius: 16px;
  width: 384px; /*para larguras fixas podemos centralizar usando a margin*/
  max-width:90%;
  margin: 64px auto;
}